<header>
<head><link rel="stylesheet" href="styles.css"></head>
    <nav>
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p id="rcorners1">
        I'm learning HTML. This is the firs step
        to becoming a full stack developer.
        By the end of the week, I will have
        built my first full stack application.
    </p>
    <p id="rcorners1">
        My favorite search engine is
        <a href="https://duckduckgo.com">DuckDuckGo</a>
    </p>
    <div id = "rcorners1" class = "my-grid">
        <div class = "has-background">Box 1</div>
        <div class = "has-background">Box 2</div>
        <div class = "has-background">Box 3</div>
        <div class = "has-background">Box 4</div>
        <div class = "has-background">Box 5</div>
        <div class = "has-background">Box 6</div>

    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>