<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Contact Me Here</h1>
    <p>
        I'm learning how to make links to different pages.
    </p>
    <p>
        My favorite search engine is actually
        <a href="https://google.com">Gooogle</a> not DuckDuckGo
    </p>
    <div>
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>