/* html {
    box-sizing: border-box;
} */

{
box-sizing: inherit;
}

p{
    margin: 6px;
    padding: 12px;
    border: 4px solid black;
    width: 400px;
    height: 100px;
    background-color: orange;
}

#rcorners1 {
    border-radius: 25px;
}


.my-grid {
    display: grid;
    width: 40%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;

}

.has-background {
    border-radius: 15px;
    margin: 5px;
    background-color: #A7DDFF;
    padding: 10px;
    border: 1px solid black;
}
